@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&display=swap");

.text-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Martel", sans-serif;
    font-weight: 800;
  }

  p,
  a,
  b,
  ul,
  li {
    font-family: "Martel", sans-serif;
  }

  a {
    color: #ff8fa3;
  }

  span {
    font-family: "Martel", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  b::before {
    white-space: pre;
    margin-top: 5px;
  }
  b::after {
    margin-bottom: 1px;
  }
}

.full-width-image {
  height: 250px;
  width: 250px;
  top: 0;
  left: 0;
}

.image-text {
  margin: auto;
  padding-top: 5px;
}

.full-screen {
  flex-direction: column;
  margin: 1rem 1rem 0 0.5rem;
  top: 0;
  width: stretch;
}

.centered {
  text-align: center;
  margin: auto;
}

.background {
  background-image: url("/bgnd.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
