html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: transparent !important;
  background-image: url("../src/assets/bgnd.png");
  background-size: cover;
  letter-spacing: 0.3px;
  line-height: 1.6;
}
